html {
  position: relative;
}

body {
  margin-bottom: 100px;
  margin-top: 30px;
}

.jumbotron {
  background-image: url("../img/bgLogo.jpg");
  background-attachment: fixed;
  background-size: 300px; /* ubah ukuran ke 1450px jika ingin gambar full */
  background-position: center right -85px;
  margin-top: 10px;
  color: azure;
  overflow: hidden;
}

.jumbotron img {
  width: 200px;
}

.jumbotron h1 {
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.jumbotron p {
  color: black;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

hr {
  width: 250px;
  border-top: 3px solid #999;
}

section {
  min-height: 400px;
}

.menu {
  background-color: #eee;
}

.layanan img {
  width: 100%; /* gambar memenuhi lebar kolom */
  height: 100px; /* tinggi seragam */
  object-fit: cover; /* menjaga proporsi dan crop bagian yang kelebihan */
  border-radius: 8px; /* opsional: membuat sudut gambar agak melengkung */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* opsional: efek bayangan */
}

.thumbnail img {
  width: 100%; /* gambar memenuhi lebar kolom */
  height: 250px; /* tinggi seragam */
  object-fit: cover; /* menjaga proporsi dan crop bagian yang kelebihan */
  border-radius: 8px; /* opsional: membuat sudut gambar agak melengkung */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* opsional: efek bayangan */
}

.menu.thumbnail {
  opacity: 0;
}

.menu.thumbnail.muncul {
  opacity: 1;
}

.contact {
  min-height: 800px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #333;
  padding-top: 10px;
}

footer p {
  color: #aaa;
  font-size: 0.9em;
}
